.sec_menu_content1, .sec_menu_content2, .sec_menu_content3, .sec_menu_content4, .sec_menu_content5, .sec_menu_content6, .sec_menu_content7 {
  width: 100vw;
  display: none;
}

.carousel_content_container .contact_button, .top_buttons_container .contact_button, .top_buttons_container .support_button, .top_buttons_container .menu_button, .top_buttons_container .search_button {
  display: inline-block;
  text-transform: uppercase;
  font-family: Poppins,sans-serif;
  letter-spacing: .4px;
  font-weight: 400;
  font: 20px monospace;
  color: white;
  text-align: center;
  width: fit-content;
  border-radius: 3px;
}

.debug {
  border: 1px solid red;
}

.icons {
  width: 25px;
  height: 25px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins,sans-serif;
}

* a,
* a:visited,
* a:active {
  text-decoration: none;
  color: white;
}

.page_wrap {
  height: 100%;
}

.carousel_header {
  background: no-repeat center/cover url("../img/home-YLei.webp"), linear-gradient(to right, black 0%, white 60%);
  background-blend-mode: multiply;
  height: 80vh;
}

.carousel_content_container {
  width: 90vw;
  margin: auto;
  padding: 4rem 1rem;
}

.carousel_content_container .contact_button {
  padding: 20px;
  background-color: #926fb1;
}

.carousel_content_container .contact_button:hover {
  background-color: #8a65ac;
}

.carousel_heading {
  color: white;
  font-size: 4rem;
  line-height: 5rem;
  font-family: Poppins,sans-serif;
}

.carousel_paragraph {
  color: white;
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 600;
  padding: 2rem 0;
  font-family: Poppins,sans-serif;
}

.hidden_menu_header {
  font-size: 32px;
  color: white;
}

.sec_menu_content1 {
  background-color: #526781;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content1 a:hover {
  text-decoration: underline;
}

.sec_menu_content1 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content1 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content1 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content1 ul li span:first-child {
  width: 40px;
}

.sec_menu_content1 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button1:hover .sec_menu_content1 {
  display: block;
}

.arrow_div1 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #67809f;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div1 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button1:hover .arrow_div1 {
  display: block;
}

.sec_button1 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button1 {
    width: 160px;
  }
}

.sec_button1 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon1 {
  color: #67809f;
}

.sec_button1:hover .fa-icon1 {
  color: white;
}

.sec_button1:hover {
  background-color: #67809f;
}

.sec_menu_content2 {
  background-color: #286abd;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content2 a:hover {
  text-decoration: underline;
}

.sec_menu_content2 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content2 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content2 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content2 ul li span:first-child {
  width: 40px;
}

.sec_menu_content2 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button2:hover .sec_menu_content2 {
  display: block;
}

.arrow_div2 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #4183d7;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div2 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button2:hover .arrow_div2 {
  display: block;
}

.sec_button2 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button2 {
    width: 160px;
  }
}

.sec_button2 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon2 {
  color: #4183d7;
}

.sec_button2:hover .fa-icon2 {
  color: white;
}

.sec_button2:hover {
  background-color: #4183d7;
}

.sec_menu_content3 {
  background-color: #25a25a;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content3 a:hover {
  text-decoration: underline;
}

.sec_menu_content3 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content3 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content3 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content3 ul li span:first-child {
  width: 40px;
}

.sec_menu_content3 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button3:hover .sec_menu_content3 {
  display: block;
}

.arrow_div3 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #2ecc71;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div3 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button3:hover .arrow_div3 {
  display: block;
}

.sec_button3 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button3 {
    width: 160px;
  }
}

.sec_button3 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon3 {
  color: #2ecc71;
}

.sec_button3:hover .fa-icon3 {
  color: white;
}

.sec_button3:hover {
  background-color: #2ecc71;
}

.sec_menu_content4 {
  background-color: #bc2c28;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content4 a:hover {
  text-decoration: underline;
}

.sec_menu_content4 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content4 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content4 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content4 ul li span:first-child {
  width: 40px;
}

.sec_menu_content4 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button4:hover .sec_menu_content4 {
  display: block;
}

.arrow_div4 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #d64541;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div4 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button4:hover .arrow_div4 {
  display: block;
}

.sec_button4 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button4 {
    width: 160px;
  }
}

.sec_button4 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon4 {
  color: #d64541;
}

.sec_button4:hover .fa-icon4 {
  color: white;
}

.sec_button4:hover {
  background-color: #d64541;
}

.sec_menu_content5 {
  background-color: #79539a;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content5 a:hover {
  text-decoration: underline;
}

.sec_menu_content5 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content5 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content5 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content5 ul li span:first-child {
  width: 40px;
}

.sec_menu_content5 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button5:hover .sec_menu_content5 {
  display: block;
}

.arrow_div5 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #926fb1;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div5 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button5:hover .arrow_div5 {
  display: block;
}

.sec_button5 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button5 {
    width: 160px;
  }
}

.sec_button5 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon5 {
  color: #926fb1;
}

.sec_button5:hover .fa-icon5 {
  color: white;
}

.sec_button5:hover {
  background-color: #926fb1;
}

.sec_menu_content6 {
  background-color: #de093f;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content6 a:hover {
  text-decoration: underline;
}

.sec_menu_content6 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content6 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content6 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content6 ul li span:first-child {
  width: 40px;
}

.sec_menu_content6 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button6:hover .sec_menu_content6 {
  display: block;
}

.arrow_div6 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #f62459;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div6 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button6:hover .arrow_div6 {
  display: block;
}

.sec_button6 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button6 {
    width: 160px;
  }
}

.sec_button6 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon6 {
  color: #f62459;
}

.sec_button6:hover .fa-icon6 {
  color: white;
}

.sec_button6:hover {
  background-color: #f62459;
}

.sec_menu_content7 {
  background-color: #a3331d;
  position: absolute;
  left: 0px;
  text-align: left;
  padding: 3rem;
  text-transform: capitalize;
}

.sec_menu_content7 a:hover {
  text-decoration: underline;
}

.sec_menu_content7 ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sec_menu_content7 ul li {
  display: inline-block;
  width: 30%;
}

.sec_menu_content7 ul li span {
  display: table-cell;
  height: 4rem;
  vertical-align: middle;
}

.sec_menu_content7 ul li span:first-child {
  width: 40px;
}

.sec_menu_content7 ul li span:last-child {
  padding: 0px 20px 0px 0px;
}

.sec_button7:hover .sec_menu_content7 {
  display: block;
}

.arrow_div7 {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #ce4125;
  display: none;
  position: absolute;
  z-index: 1;
}

@media (min-width: 1260px) {
  .arrow_div7 {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
  }
}

.sec_button7:hover .arrow_div7 {
  display: block;
}

.sec_button7 {
  color: white;
  text-transform: uppercase;
  width: 120px;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: 1260px) {
  .sec_button7 {
    width: 160px;
  }
}

.sec_button7 .small_text {
  font-size: 10px;
  line-height: 10px;
}

.fa-icon7 {
  color: #ce4125;
}

.sec_button7:hover .fa-icon7 {
  color: white;
}

.sec_button7:hover {
  background-color: #ce4125;
}

.sec_button_text {
  padding: 20px 0px;
}

.sec_button_container {
  text-align: center;
}

@media (max-width: 990px) {
  .sec_button_container {
    display: none;
  }
}

.sec_button_list {
  background-color: #333645;
  display: flex;
  justify-content: center;
}

.sec_button_list li {
  display: block;
}

.top_button_container {
  height: 30%;
}

.top_buttons_list {
  display: inline-block;
}

.top_buttons_list li {
  display: inline-block;
}

.hidden_menu_header {
  margin: 0 0 2rem 0;
}

.top_buttons_container {
  list-style-type: none;
  display: flex;
  width: 750px;
  margin: 20px auto;
}

@media (min-width: 990px) {
  .top_buttons_container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .top_buttons_container {
    width: 1200px;
  }
}

.top_buttons_container li:first-child {
  margin-right: auto;
  width: 374px;
  height: 65px;
}

.top_buttons_container li:first-child img {
  width: 100%;
}

.top_buttons_container .contact_button {
  padding: 15px 20px;
  margin: 5px 10px;
  background-color: #999aa2;
}

@media (max-width: 990px) {
  .top_buttons_container .contact_button {
    display: none;
  }
}

.top_buttons_container .contact_button:hover {
  background-color: #91929b;
}

.top_buttons_container .support_button {
  padding: 15px 20px;
  margin: 5px 10px;
  background-color: #4183d7;
}

@media (max-width: 990px) {
  .top_buttons_container .support_button {
    display: none;
  }
}

.top_buttons_container .support_button:hover {
  background-color: #347bd4;
}

.top_buttons_container .menu_button {
  padding: 15px 20px;
  margin: 5px 10px;
  background-color: #080808;
}

.top_buttons_container .menu_button:hover {
  background-color: #000000;
}

.top_buttons_container .search_menu {
  margin: 0px 10px;
}

.top_buttons_container .search_button {
  padding: 15px 20px;
  margin: 5px 0px;
  background-color: #999aa2;
}

.top_buttons_container .search_button:hover {
  background-color: #91929b;
}

.top_buttons_container .search_field {
  display: none;
  padding: 5px 15px;
  height: 42px;
  width: 208px;
  border: 1px solid lightgray;
}

@media (max-width: 990px), (min-width: 1260px) {
  .top_buttons_container .search_field {
    display: inline-block;
  }
}

@media (max-width: 990px) {
  .top_buttons_container .search_field {
    width: 140px;
  }
}

.top_buttons_container .search_field:focus {
  border: 1px solid lightgray;
  outline: none;
  box-shadow: 0px 0px 10px 1px rgba(80, 200, 255, 0.8);
}
