.awards_logo_container {
	padding: 50px 0px;
	
	img{
		width: initial !important;
	}
		
	.col{
		display: none !important;
	}
	
	.bw{
		display: block !important;
	}
	
	.item{
		display: flex;
		justify-content: center;
	}
	
	.item:hover .col{
		display: block !important;
	}
	
	.item:hover .bw{
		display: none !important;
	}
}