.carousel_header{
	background: no-repeat center/cover url("../img/home-YLei.webp"), linear-gradient(to right, black 0%, white 100%);
	background-blend-mode: multiply;
	height: 550px;
	display: table-cell;
	vertical-align: middle;
	
	.carousel_buttons{
		width: 100%;
		display: block;
		bottom: 40px;
		text-align: center;
		
		& span{
			margin: 0px 10px;
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, .2);
			position: relative;
			
			&:first-child{
				background-color: white;
				
				&:after{
					position: absolute;
					display: block;
					content: "";
					left: -6px;
					top: -6px;
					width: 19px;
					height: 18px;
					border-radius: 50%;
					border: 2px solid white;	
				}
			}
		}
	}
}

.carousel_content_container{
	width: 89%;
	box-sizing: border-box;
	margin: auto;
	padding: 4rem 1rem;
	
	@media (max-width: 990px){
		text-align: center;
	}

	& .contact_button{
		@extend %button;
		padding: 5px 20px;
		font-size: 20px;
		line-height: 50px;
		background-color: #926fb1;
		&:hover{
			background-color: darken(#926fb1, 3%);
		}
	}
}

.carousel_heading{
	color: white;
	font-size: 4rem;
	font-weight: 600;
	line-height: 5rem;
	@media (max-width: 990px){
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

.carousel_paragraph{
	color: white;
	font-size: 1.8rem;
	line-height: 2.5rem;
	@media (max-width: 990px){
		font-size: 1.2rem;
		line-height: 1.8rem;
	}	
	font-weight: 600;
	padding: 2rem 0;
	font-family: Poppins,sans-serif;
}