.contact_container{
	display: flex;
	margin: auto;
	color: #333645;
	flex-direction: row-reverse;
	justify-content: space-between;	
	width: 1170px;
	
	@media (max-width: 1260px){
		flex-direction: column;
	}
	
	@media (max-width:1260px){
		width: 970px;
	}
	@media (max-width: 990px){
		width: 750px;
	}
	@media (max-width: 770px){
		width: 90%;
		max-width: 750px;
	}
	
	margin: auto;
	padding: 2rem 1rem;
	
	a{
		text-decoration: underline;
		color: #333645 !important;
	}
	
	a:hover{
		color: darken(#333645, 5%) !important;
	}

	.email_container{
		display: block;
		flex: 1 1 0%;
		border-radius: 10px;
		padding: 0px 30px;
		
		p{
			margin-bottom: 25px;
		}
			
		a{
			text-decoration: none !important;
			font-weight: 600;
		}
		
		a:hover{
			text-decoration: underline !important;
		}

		.hidden_contact{
			max-height: 0px;
			transition: ease .5s;
			overflow: hidden;
		}
		
		.saleslink{
			color: #926fb1 !important;
			font-weight: 600;
			text-decoration: none;
			font-size: 26px;
			
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.form_container{
		flex: 2 2 0%;
		border-radius: 10px;
		padding: 30px;
		background-color: #e6e7e9;;
		
		&>form{			
			display: flex;
			flex-direction: column;
			
			input[type="submit"]{
				@extend %button;
				box-sizing: border-box;
				font-size: 17px;
				line-height: 35px;
				outline: none;
				border: none;
				background-color: #926fb1;
			
				&:hover{
					background-color: darken(#926fb1, 10%);
				}
			} 

			input[type="checkbox"]{
				display: block;
				min-width: 30px;
				height:30px;
				appearance: none;
				outline: none;
				border: 3px solid #333645;
				border-radius: 4px;
				cursor: pointer;
				display: inline-block;
				
				&:checked{
					background-color: #333645;
					color: white;
					font-size: 16px;
					text-align: center;
					&:after{
						font: var(--fa-font-solid);
	    				content: "\f00c";
					}
				}
			}
			
			input[type="text"],
			input[type="email"]{
				box-sizing: border-box;
				line-height: 35px;
				width: 100%;
				border-radius: 3px;
				padding: 5px 15px;
				border: 1px solid lightgray;
				
				&:focus{
					border: 1px solid lightgray;
					outline: none;
					box-shadow: 0px 0px 10px 1px rgba(rgb(80, 200, 255), 0.8);
				}
			}
			
			textarea{
				box-sizing: border-box;
				line-height: 35px;
				width: 100%;
				height: 100px;
				border-radius: 3px;
				padding: 5px 15px;
				border: 1px solid lightgray;
				resize: none;
				
				&:focus{
					border: 1px solid lightgray;
					outline: none;
					box-shadow: 0px 0px 10px 1px rgba(rgb(80, 200, 255), 0.8);
				}
			}
		
			label{
				font-size: 15px;
				line-height: 2rem;
				font-weight: 600;
				letter-spacing: 1.2px;
				cursor: pointer;
			}

			.required::after{
				content: " *";
				color: #d24d57;
			}
			
			.reqtext{
				display: block;
				@media(min-width: 550px){
					margin-left: auto;
				}				
				margin-top: auto;
			}
			
			.reqtext::before{
				content: "* ";
				color: #d24d57;
			}
				
			&>.row1:last-child{
				margin-top: 20px;				
				@media(max-width: 550px){
					flex-direction: column;
				}
				
				&>.col{
					margin-bottom: 0px;
					&>div>span{
						position: relative;
						display: inline-block;
						box-sizing: border-box;
					}
				}
			}
			
			&>.row,
			&>.row1{
				width: 100%;
				display: flex;
				column-gap: 30px;
				flex-direction: row;
				flex-wrap: nowrap;
				
				&>.col{
					flex: 1 1 0%;
					display: flex;
					flex-wrap: nowrap;
					flex-direction: column;
					margin-bottom: 10px;
				}
				
				&>span{
					display: inline-block;
				}
			}
			
			&>.row{
				@media(max-width: 990px){
					flex-direction: column;
				}
			}
		}
	}
}

#resultdiv{
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	margin-bottom: 20px;
	
	.msglabel{
		display: block;
	}
}
	
.success{
	padding: 5px 15px;
	border: 1px solid #0f05;
	box-shadow: inset 0px 0px 2px 1px #0f05;
}

.error{
	padding: 5px 15px;
	border: 1px solid #f005;
	box-shadow: inset 0px 0px 2px 1px #f005;
}

.loading {
	display: block;
	position: absolute;
	box-sizing: border-box;
	top: 5px;
	right: 5px;
	border: 5px dotted #fff;
	border-radius: 50%;
	min-width: 35px;
	min-height: 35px;
	animation: spin 3s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}