$menu_bg_colors:
	#67809f,
	#286abd,
	#25a25a,
	#bc2c28,
	#79539a,
	#de093f,
	#a3331d;

$news_colors:
	#926fb1,
	#2ecc71,
	#926fb1;

$icon_bg:
	#3b5998,
	#00aced,
	#d93175,
	#0077b5;

%button{
	display: inline-block;
	text-transform: uppercase;
	font-family: Poppins,sans-serif;
	padding: 5px 15px;
	letter-spacing: .4px;
	line-height: 46px;
	font-weight: 400;
	font-size: 18px;
	color: white;
	text-align: center;
	width: fit-content;
	border-radius: 3px;	
	cursor: pointer;
}