$menu_bg_colors:
	#526781,
	#286abd,
	#25a25a,
	#bc2c28,
	#79539a,
	#de093f,
	#a3331d;

%hidden_menu_content{
	width: 100vw;
	display: none;
}

%button{
	display: inline-block;
	text-transform: uppercase;
	font-family: Poppins,sans-serif;
	letter-spacing: .4px;
	font-weight: 400;
	font: 20px monospace;
	color: white;
	text-align: center;
	width: fit-content;
	border-radius: 3px;	
	cursor: pointer;
}