.main_footer{
	background-color: #333645;
	color: white;
	padding: 3rem 0px;
	
	>div{
		@media (max-width:990px){
			max-width: 720px;
		}
		@media (min-width:990px){
			width: 970px;
		}
		@media (min-width: 1260px){		
			width: 1200px;	
		}
		margin: 0px auto;
		padding: 0px 15px;
	}
	
	ul{
		width: 225px;
	}

	.main_footer_container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 1px solid grey;
		padding-bottom: 2rem;
		column-gap: 4rem;
		row-gap: 2rem;
	}
	
	.top_container{
		display: inline-flex;
		flex-wrap: wrap;
		@media (max-width:1260px){
			justify-content: space-evenly;
			width: 100%;
		}
		@media (max-width: 770px){
			justify-content: center;
			width: 100%;
			row-gap: 2rem;
		}
	}
	
	.bottom_container{
		display: inline-flex;
		flex-wrap: wrap;
		@media (max-width:1260px){
			justify-content: space-evenly;
			width: 100%;
		}
		@media (max-width: 770px){
			justify-content: center;	
			width: 100%;
			row-gap: 2rem;
		}
	}
	
	ul{
		display: flex;
		flex-direction: column;

		li{
			display: block;
			font-size: 14px;
			font-weight: 200;
		}
		
		li:first-child(){
			margin-bottom: 2rem;
		}
	}
	
	a:hover{
		text-decoration: underline;
	}
	
	h2{
		font-size: 1rem;
			font-weight: 200;
	}
}

//copyright line

.copy_container{
	margin-top: 5px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.copyright{
	display: inline-flex;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 5px;
	.important{
		display: block !important;		
		@media (min-width: 770px){
			display: none !important;
		}
	}
}

//social media links

.socialmedia{
	display: inline-flex;
	margin-left: auto;

	.sm_icon{
		vertical-align: middle;
	}
	
	@for $i from 1 through 4{
		.sm_icon#{$i}{
			display: table-cell;
			text-align: center;
			line-height: 40px;
			width: 35px;
			height: 40px;
			border-radius: 50%;
			&:hover{
				background-color: nth($icon_bg, $i);
			}
		}
	}
}

.sm_icon{
	vertical-align: middle;
}

@for $i from 1 through 4{
	.sm_icon#{$i}{
		display: table-cell;
		text-align: center;
		line-height: 40px;
		width: 30px;
		height: 40px;
		border-radius: 50%;
		&:hover{
			background-color: nth($icon_bg, $i);
		}
	}
}