.overlay{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #0004;
	z-index: 10;
	cursor: pointer;
}

.sidemenu_container{
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100vh;
	overflow-y: scroll;
	color: white;
	background-color: #333645;
	
	.sidemenu_content{
		box-sizing: content-box;
		width: 216px;
		padding: 21px;
		
		ul{
			list-style: none;
			text-transform: uppercase;
		}
		
		&>ul{
			&>li{
				padding-top: 20px;
				
				&>a{
					display: block;
					font-size: 18px;
					padding: 20px 0px;
					text-align: center;
					border-radius: 3px;
					cursor: pointer;
					outline: 1px solid rgba(0,0,0,.25);
					border: 1px solid hsla(0,0%,100%,.1);
				}
			}
			
			.visible-xs{
				
			}
			
			.sub-menu-banner{
				border-radius: 3px;
				padding: 20px 0px;
				
				&>ul{					
					background-color: #262834;
				
					&>li{
						text-align: center;
						font-size: 16px;
						padding: 10px;
					}
				}
				
				&>ul>li:not(:first-child){
					border-top: 1px solid rgba(0,0,0,.45);
				}
			}
			
			.sub-menu-banner-title{
				display: none;
			}
			
			.nav-item--sub-menu{
				
			}
			
			.icon-apps:before {
				content: "\E901";
			}
			
			.link-icon-container{
				display: none;
			}
		}
	}
}