@import '_declarations';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page_wrap{
	height: 100%;
}

.carousel_header{
	background: no-repeat center/cover url("../img/home-YLei.webp"), linear-gradient(to right, black 0%, white 60%);
	background-blend-mode: multiply;
	height: 60vh;
}

.carousel_content_container{
	width: 90vw;;
	margin: auto;
	padding: 4rem 1rem;

	.contact_button{
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Poppins,sans-serif;
		letter-spacing: .4px;
		font-weight: 400;
		font: 20px monospace;
		color: white;
		text-align: center;
		padding: 20px;
		width: fit-content;
		background-color: #926fb1;
		border-radius: 2px;
		&::after{
			content: "\00a0\2192";
		}
		&:hover{
			background-color: darken(#926fb1, 3%);
		}
	}
}

.carousel_heading{
	color: white;
	font-size: 4rem;
	line-height: 5rem;
	font-family: Poppins,sans-serif;
}

.carousel_paragraph{
	color: white;
	font-size: 1.625rem;
	line-height: 2rem;
	font-weight: 600;
	padding: 2rem 0;
	font-family: Poppins,sans-serif;
}

 .hidden_menu_header{
	font-size: 32px;; 	 
	color: white;
 }

@for $i from 1 through 7{
	.sec_menu_content#{$i}{
		@extend %hidden_menu_content;
		background-color: nth($menu_bg_colors, $i);
		position: absolute;
		left: 0px;
		
		&:hover{
			display: block;
		}

		.sec_button#{$i}:hover ~ &{
			display: block;
		}
	}		
	.sec_button#{$i}{
		padding: 5px;
		color: white;
		text-transform: uppercase;
	}
	.sec_button#{$i}:hover{
		background-color: nth($menu_bg_colors, $i);
	}
}

.sec_button_container{
	text-align: center;
}

.sec_button_list{
	background-color: #333645;
	
	li{
		display: inline-block;
	}
}

.top_buttons_list{
	display: inline-block;
	
	li{
		display: inline-block;
	}
}