@import 'declarations';
@import 'carousel';
@import 'hiddenmenu';
@import 'topmenu';
@import 'newsletter';
@import 'pagefooter';
@import 'logos';
@import 'services';
@import 'news';
@import 'reviews';
@import 'awards';
@import 'cookies';

.icons{
	width:25px;
	height:25px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Poppins,sans-serif;
	
	a,
	a:visited,
	a:active{	
		text-decoration: none;
		color:white;
	}
}

body{
	min-width: 260px;
} 

.page_wrap{
	width: 100%;
}

.sticky_container{
	box-sizing: border-box;
	border: none;
}

.main_header{
	box-sizing: border-box;
	background-color: white;
	z-index: 2;
	width: 100%;
	border: none;
}

.stickyshow{
	position: fixed;
	top: -206px;
	transition: transform .5s;
	transform: translateY(206px);
	box-shadow: 15px 10px 10px 5px #0001;
}

.stickyhide{
	position: fixed;
	top: -206px;
	transition: transform .5s;
	transform: translateY(0px);
}

.owl-dot{
	background-color: #fffa;
	padding: 10px !important;
	border-radius: 50%;
}

owl-next,
owl-prev{
	color: #fff;
	font-size: 52px;	
}